/* General page styles */

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* Styles specific to card container set up */
  .card{
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  /* Styles specific to header & footer set up */
  .card header{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .card footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /* Styles specific to main business card content set up */
  .card article {
    height: 120px;
    background-color: rgba(0,0,0,0.3);
  }
  .card img{
    max-height: 100%;
    float: right;
  }

  .card h2{
    margin: 0;
    font-size: 20px;
    line-height: 15px;
  }
  
  .card p{
    margin: 0;
  }

  #footertext{
    font-size: 15px;
    line-height: 15px;
  }

  #articletext{
    padding-left: 10px;
    color: white;
  }
  

    /* Styles specific to card container set up */
    .mycard{
      width: 35em;
      height: 22em;
      margin: 5em auto;
      background-color: purple;
      border: 0.2em solid black;
      border-radius: 1.5em;
    }
    
    /* Styles specific to header & footer set up */
    .mycard header{
      background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
      border-radius: 1.5em 1.5em 0 0;
      height: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .mycard footer{
      background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
      border-radius: 0 0 1.5em 1.5em;
      height: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    
    /* Styles specific to main business card content set up */
    .mycard article {
      height: 120px;
      background-color: rgba(0,0,0,0.3);
    }
    .mycard img{
      max-height: 100%;
      float: right;
    }
  
    .mycard h2{
      margin: 0;
      font-size: 20px;
      line-height: 15px;
    }
    
    .mycard p{
      margin: 0;
    }
  
    #footertext{
      font-size: 15px;
      line-height: 15px;
    }
  
    #articletext{
      padding-left: 10px;
      color: white;
    }