* {
    box-sizing: border-box;
    background-color: beige;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  h1 {
    text-align: center;
    margin-top: 30px;
    color: hotpink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
  }
  
  button {
    padding: 10px;
    border: none;
    background-color: hotpink;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
  }
  
  button:hover {
    background-color: lightblue;
  }